:host{
    .confirm{
        position: fixed;
        right: 3%;
        top: 8%;
        padding: 25px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        color: #000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        z-index: 999;
        transition: 2s;
        animation: showsUP 0.5s ease forwards;

        &>i{
            color: #1DC212;
        }

        .confirm__message{
            margin: 0 20px 0 10px;
        }
        
       .confirm__button{
            background-color: transparent;
            border: none;
            transform: translateY(2px);
            cursor: pointer;
        }

        @keyframes  showsUP{
            from{
                transform: translateY(-5%);
            }
            to{
                transform: translateY(0%);
            }
        }
    }
}