:host{
    .confirm{
        position: fixed;
        right: 3%;
        top: 8%;
        padding: 25px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        color: #000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        z-index: 999;
        opacity: 0;
        transform: translateY(-10%);
        animation: fadeToast 4s ease-in-out forwards;


        .confirm__message{
            margin: 0 20px 0 10px;
        }
        
       .confirm__button{
            background-color: transparent;
            border: none;
            transform: translateY(2px);
            cursor: pointer;
        }

        @keyframes fadeToast {
            0% {
                opacity: 0;
                transform: translateY(-10%);
            }
            10% {
                opacity: 1;
                transform: translateY(0);
            }
            80% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-10%);
            }
        }
    }

    .success > i{
        color: #1DC212;
    }

    .info > i{
        color: rgb(195, 208, 15);
    }

    .error > i{
        color: rgb(211, 8, 8);
    }


}