:host{
    header{
        display: flex;
        justify-content: space-between;

    
        span{
            a{
                text-decoration: none;
                color: var(--off-black);

                &:hover{
                    color: var(--secondary-color);
                }
            }
        }

        .box{
            display: flex;
            gap: 5px;

            &__button{
                background-color: transparent;
                border: none;
        
                img{
                    height: auto;
                    width: calc(15px + 1vmin);
                }
            }
        }
    }
}