:host{
    header{
        display: flex;
        justify-content: space-between;
    
        span{
            a{
                text-decoration: none;
                color: var(--text-color);
                transition: .2s;

                &:hover{
                    color: var(--primary-color);
                }
            }
        }

        .box{
            display: flex;
            gap: 10px;

            &__button{
                background-color: transparent;
                border: none;
                cursor: pointer;
                
                i{
                    font-size: calc(10px + 1vmin);
                    color: var(--text-color);

                    &:hover{
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}