<div class="boxform">

    <div class="boxform__close">
        <h2>Settings</h2> 
        <button aria-label="close modal" (click)="close()">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
     <hr>
    <form [formGroup]="apiform" (ngSubmit)="submit()" class="settings">
        <span class="settings__title">Set up your API key</span>
        <p class="settings__description">In addition to use this platform you need set up your personal API key. Once you have your credentials set up you can access all the resources of this platform. </p>
        <div class="settings__buttons">
            <input type="password" name="" id="" formControlName="apikey">

            <button 
                type="submit" 
                class="btn"
                [disabled]="apiform.invalid"
                [class.--disabled]="apiform.invalid"
                title="Set API Key"
                >Set </button>

                            
            <button type="button" class="btn-small btn-danger" title="Clear" (click)="removeApiKey()">
                <!-- <i class="bi bi-x"></i> -->
                Clear
            </button>
        </div>
    </form>
    <div class="customization">    
        <span>Customization</span>
        <p>You can also customize between three colors which gets better for you!</p>
        <button (click)="setColor('blue')"></button>
        <button (click)="setColor('green')"></button>
        <button (click)="setColor('purple')"></button>
    </div>
</div>