:host{

    .boxform{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--bg-color);
        border-radius: 8px;
        width: 500px;
        padding: 40px;
        z-index: 9999;
        font-size: calc(10px + 1vmin);
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);

        .boxform__close{
            height: min-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            
            &>button{
                background-color: transparent;
                border: none;
                cursor: pointer;

                i{
                    font-size: calc(10px + 1vmin);
                    color: var(--text-color);
                }
            }
        }

        hr{
            border: 0.5px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
        }
        
        .settings{
            width: 100%;

            .settings__title{
                font-weight: bold;
                color: var(--secondary-color);
            }

            .settings__description{
                margin: 10px 0;
            }

            .settings__buttons{
                display: flex;
                gap: 10px;
                height: 5vh;
                margin-top: 15px;

                input{
                    flex-grow: 1;
                    height: 100%;
                    border-radius: 4px;
                    border: 1px solid var(--dark-grey);
                    outline: var(--primary-color);
                    background-color: transparent;
                    color: var(--text-color);
                    padding: 15px;
                }

                button{
                    width: 20%;
                    height: 100%;
                    border-radius: 4px;
                    border: none;
                    background-color: var(--primary-color);
                    color: var(--light-gray);
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: "Inter", sans-serif;
                    transition: .5s;
                    
                    &:hover{
                        cursor: pointer;
                        // background-color: var(--secondary-color);
                        transform: translateY(-2px);
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    }
                }
            }
        }
    
        .customization{
            margin-top: 10px;

            span{
                font-weight: bold;
                color: var(--secondary-color);
            }

            p{
                margin: 10px 0;
            }

            button{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                margin-right: 10px;
                transition: .5s;

                &:hover{
                    cursor: pointer;
                    transform: translateY(-2px);
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }

                &:nth-child(3){
                    background-color: #078BFF;
                }

                &:nth-child(4){
                    background-color: #07FF7B;
                }

                &:nth-child(5){
                    background-color: #7F07FF;
                }
            }
        }
    }
}