<div class="boxform">

    <div class="boxform__close">
        <h2>Settings</h2> 
        <button aria-label="close modal" (click)="close()">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
     <hr>
    <form action="" class="settings">
        <span class="settings__title">Set up your API key</span>
        <p class="settings__description">In addition to use this platform you need set up your personal API key. Once you have your credentials set up you can access all the resources of this platform. </p>
        <div class="settings__buttons">
            <input type="password" name="" id="">
            <button type="submit">Set</button>
        </div>
    </form>
    <div class="customization">    
        <span>Customization</span>
        <p>You can also customize between three colors which gets better for you!</p>
        <button (click)="setColor('blue')"></button>
        <button (click)="setColor('green')"></button>
        <button (click)="setColor('purple')"></button>
    </div>
</div>