:host{
    section{
        width: 70%;
        height: min-content;
        padding: 10px 60px;
        
        .container{
            width: 100%;
            height: min-content;
            padding: 20px;
            position: relative;
            z-index: 1;

                    
    
            
            &::before{
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 8px;
                transform: translate(-20px, -20px);
                background-color: var(--bg-color);
                box-shadow: 1px 0px 50px rgba(0,0,0,0.1);
                z-index: -1;
                opacity: .39;
            }



            &__overview{
                position: relative;
                font-size: calc(12px + 0.5vmin);
                margin-bottom: 10px;
                width: 100%;
                height: min-content;
                display: flex;
                justify-content: center;
                
                &>div{
                    width: 90%;

                    &>p {
                        line-height: 22px;
                        
                        

                        strong, i{
                            color: var(--primary-color);
                        }
                    }
                }

                &.expanded{
                    flex-direction: column;     
                    
                    &>div{
                        width: 100%;
                        margin-bottom: 5px;
                    }    
                }

            

                &>button{
                    // position: absolute;
                    bottom: 0;
                    font-size: calc(10px + 0.5vmin);
                    align-self: end;
                    background-color: transparent;
                    border: none;
                    font-weight: bold;
                    padding: 0 5px;
                    color: var(--text-color);
                    transition: .3s;

                    &:hover{
                        cursor: pointer;
                        color: var(--secondary-color);
                    }
                }
            }


            .container__results{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                
  
                .result{
                    display: flex;
                    padding: 20px;
                    border-radius: 8px;
                    color: var(--text-color);
                    background-color: var(--bg-color);
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

                    .result__icon{
                        width: 5%;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        padding-right: 18px; 

                        img{
                            border-radius: 50%;
                        }
                    }

                    .result__info{ 
                        
                        a{
                            display: block;
                            text-decoration: none;
                            font-size: calc(14px + 0.5vmin);
                            font-weight: bold;
                            color: var(--primary-color);

                            &:hover{
                                color: var(--secondary-color);
                            }
                        }
                        
                        &>span{
                            font-size: calc(10px + 0.5vmin);
                            color: var(--text-color);
                            opacity: .8;
                            font-style: italic;
                        }

                        p{
                            margin-top: 2%;
                        }

                        .result__links{
                            margin-top: 2%;
                            display: flex;
                            gap: 10px;
                            
                        }
                    }

                    .result__image{
                        position: relative;
                        min-width: 75px;
                        max-width: 80px;

                        img{
                            right: 0;
                            border-radius: 8px;
                            height: 100%;
                            width: 100%;
                            max-height: 70px;
                            object-fit: cover;
                        }
                    }
                    
                }
            }


            .container__search{
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h5{
                    font-size: calc(12px + .5vmin);
                }

                .search__link{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    text-decoration: none;
                    color: var(--text-color);

                    .search__block{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        // width: 100%;
                        height: min-content;
                        padding: 15px 20px;
                        background-color: #FFF;
                        border-radius: 8px;
                        transition: .4s;

                        &:hover{
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
                        }
                    }
                }

                .links{
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    
                    .first, .second{
                        width: 50%;
                    }
                }


                .items{
                    width: 100%;
                    display: grid;
                    // grid: 1rem;
                    gap: 10px;
                    grid-template: 1fr;
                }

                .items:has(.search__link:nth-child(5)){
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

}

