<section class="box">
    <div class="container">
        <!-- <div class="container__overview" [class.expanded]="fullText">
           <div >
               <p><i class="bi bi-stars"></i><strong> Insights: </strong>
               
                    @if(!this.fullText){
                        {{ text | readmore }}
                    } @else {
                        {{ text}}
                    }
                </p>
           </div>
            
            <button (click)="toggleFullText()">
                {{ this.fullText ? "Read less" : "Read more" }}
            </button>
            IA insights -->
        <!-- </div> -->
        <div class="container__results">
            <!-- Results -->

            @if(this.organicResults){
                @for (result of this.organicResults; track $index) {
                    
                    <div class="result">
                        <div class="result__icon">
                            <img [src]="result.favicon" alt="" height="20px" width="20px">
                        </div>
                        <div class="result__info">
                            <a [href]="result.link">{{ result.title }}</a>
                            <span> {{ result.displayed_link }} </span>
                            <p>{{ result.snippet }}</p>


                            @if (result.sitelinks){
                                <div class="result__links">

                                    @for (sitelink of result.sitelinks.inline; track $index) {
                                        <a [href]="sitelink.link">
                                            <span class="badge--outline"> {{ sitelink.title }} </span>
                                        </a>
                                    }
                                </div>
                            }

                    
                        </div>

                        @if (result.thumbnail){
                            <div class="result__image">
                                <img [src]="result.thumbnail" alt="">
                            </div>    
                        }                   
                    </div>
                }
            }
        </div>
        <div class="container__search">
 
            @if(this.relatedSearches){

                <h5>People also search for</h5>

                <div class="items">
                    @for (search of this.relatedSearches; track $index) {
                        
                        @if(search.query){
                            <button class="search__link" (click)="request(search.link)" >
                                <div class="search__block">
                                    <i class="bi bi-search"></i>
                                    <p>{{ search.query }}</p>
                                </div>
                            </button>
                        }
                    }
                </div>
            } 
        </div>
    </div>
</section>
<section class="pagination">
    <span class="pagination__title">Personal Browser</span>
    <ul class="pagination__links">

        @if (this.pages && this.pages.length && this.pages[0].key > 1) {
            <li class="pagination__ellipsis">...</li>
        }

        @for (item of this.pages; track $index) {
            <li>
                <a (click)="request(item.value)" [class.current]="item.value == true" >
                    {{item.key }}
                </a>
            </li>
        }

        @if (this.pages && this.pages.length && this.pages[this.pages.length - 1].key > 10) {
            <li class="pagination__ellipsis">...</li>
        }
    </ul>
</section>