footer{
    // height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 40px;
}

@media (max-width: 800px) {
    footer{
        position: relative;
        font-size: calc(10px + 1vmin);
        padding: 10px 20px;
        justify-content: center;
    }
}