:host{
    section{
        width: 70%;
        height: min-content;
        padding: 0 25px;
        // margin: 20px auto 100px auto;
        margin-left: 35px;
        position: relative;

        a{
            text-decoration: none;
        }

        .box{
            width: 100%;
            background-color: #FFF;
            border-radius: 8px;
            display: flex;
            padding: 20px;
            gap: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin-bottom: 15px;

            .box__image{
                width: 20%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    display: block;
                }
            }


            .box__info{
                width: 80%;
                display: flex;
                flex-direction: column;
                height: 100%;
                color: var(--text-color);

                .title{
                    font-size: calc(10px + 1vmin);
                    color: var(--text-color);
                }

                .source{
                    font-size: calc(8px + 0.8vmin);
                    color: var(--secondary-color);
                    margin-bottom: 1%;
                }

                p{
                    font-size: calc(10px + 0.9vmin);
                    color: var(--text-color);
                }

                .caption{
                    font-size: calc(8px + 0.7vmin);
                    opacity: .59;
                    margin-top: auto;
                    align-self: end;
                    color: var(--text-color);
                }
            }
        }

        .pagination{
            width: 100%;
            padding: 30px;
            text-align: center;

            a:hover{
                text-decoration: underline;
                cursor: pointer;
                color: var(--secondary-color);
            }
        }
        
    }

    @media (max-width: 1200px) {
        section{
            width: 95%;
            margin-left: 10px;
        }
    }

    @media (max-width: 800px) {
        section{
            width: 100%;

            .box{
                .box__image{
                    width: 30%;
                }

                .box__info{
                    .title{
                        font-size: calc(8px + 1vmin);
                    }

                    p{
                        font-size: calc(8px + 0.8vmin);
                    }

                    p{
                        font-size: calc(7px + 0.7vmin);
                    }
                }
            }

            
        }
    }
    
    @media (max-width: 500px) {
        section {
            padding: 0 10px;
            width: 95%;

            .box{
                .box__image{
                    width: 30%;

                    img{
                        width: 100%;
                        height: 80%;
                    }
                }
            }
        }
    }
}