:host{
    section{
        width: 93%;
        height: 100vh;
        padding: 0 10px;
        margin: 20px auto 100px auto;
        position: relative;
        display: flex;
        gap: 10px;

        .filters{
            width: 250px;
            height: 100%;
            border-radius: 8px;
            background-color: #FFF;
            color: #000;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .expander__button{
                display: none;
            }


            .filters__title{
                font-size: calc(10px + 1vmin);
                font-weight: 600;
                display: flex;
                gap: 5px;
                padding: 10px;
                height: auto;
                
                i{
                    color: var(--secondary-color);
                }
            }

            .filters__controls{
                margin-top: 20px;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                span{
                    font-size: 0.9rem;
                    font-weight: bolder;
                    
                }

                label:not(.delivery__option){
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 5px;
                    text-wrap: nowrap;
                    height: 25px;

                    input, select{
                        width: 50%;
                        height: 100%;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-family: "Inter", sans-serif;
                        font-size: calc(8px + 1vmin);

                        &:focus{
                            outline: 1px solid var(--primary-color);
                        }
                    }
                }

                .delivery__option, input{
                    cursor: pointer;
                }

                .filters__buttons{
                    display: flex;
                    flex-direction: column;
                    
                    button{
                        width: 100%;
                        height: 35px;
                        margin-top: 10px;
                    }

                    .button__submit{
                        background-color: var(--primary-color);
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        font-size: 1rem;
                        cursor: pointer;
                        transition: .5s;
                        opacity: .89;

                        &:hover{
                            background-color: var(--secondary-color);
                        }
                    }

                    .button__reset{
                        background-color: #f0f0f0;
                        color: #000;
                        border: none;
                        border-radius: 4px;
                        font-size: 1rem;
                        cursor: pointer;
                        transition: .5s;
                        opacity: .89;

                        &:hover{
                            background-color: #e0e0e0;
                        }
                    }
                }
            }

      
        }

        .products{
            flex: 1;
            height: min-content;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
            justify-content: start;
            gap: 10px;

            
            .products__product {
                background-color: var(--bg-color);
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: transform 0.2s ease, box-shadow 0.2s ease;
                cursor: pointer;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-height: 500px;
                max-width: 250px;
            }

            .products__product:hover {
                transform: translateY(-4px);
                // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }

            .products__product img {
                width: 100%;
                height: 80%;
                border-radius: 8px;
                object-fit: cover;
            }

    
            .product__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                span{
                    width: 28px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #f0f0f0;
                }

                .product__name {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1rem;
                    color: var(--text-color);

                    &:hover{
                        color: var(--secondary-color);
                    }
                }           
            }

            
            .product__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 8px;

                .product__rating {
                    font-size: 0.9rem;
                    color: var(--text-color);

                    i{
                        color: var(--primary-color);
                    }
                }

                .product__price {
                    font-weight: 600;
                    font-size: 1rem;
                    color: var(--text-color);
                }
            }
            /**/


        }
    }

    @media (max-width: 1200px) {
        .products{
            grid-template-columns: 1fr 1fr;
            justify-content: center;

            // .products__product {
            //     min-width: 100%;
            // }
        } 
    }
        
    @media (max-width: 500px) {
        section{
            width: 93%;
            flex-direction: column;

            .filters{
                width: 100%;
                position: relative;
                // display: flex;
                // align-items: center;
                z-index: 99;
                margin-bottom: 20px;
                
                .expander__button{
                    position: absolute;
                    display: block;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: none;
                    font-size: calc(11px + 1vmin);
                }   

                .filters__title{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .filters__controls{
                    transition: .2s;
                    height: 0;
                    overflow: hidden;                  
                }

                .expanded{
                    height: auto;
                    overflow: visible;
                    padding: 20px;
                }

                .top{
                    top: 5%;
                    transform: translateY(0%);
                }
            }

            .products{
                grid-template-columns: 1fr;
                justify-content: center;

                .products__product {
                    min-width: 100%;
                }
            }

         
        }
    }
}