<section [formGroup]="form">
    <div class="filters">
      
    <button class="expander__button" (click)="expand()" [class.top]="isExpanded">
      <i class="bi bi-caret-down-fill"></i>
    </button>

    <div class="filters__title" [style.height]="windowWidth < 500 ? (isExpanded ? 'auto' : '100%') : 'auto'">
      <i class="bi bi-filter"></i>
      <h4>Filters</h4>
    </div>

    <div class="filters__controls" [class.expanded]="isExpanded">

      <span>Value:</span>
      <label class="label__price">
        Min price:
        <input type="number" formControlName="minPrice" min="0">
      </label>

      <label class="label__price">
        Max price:
        <input type="number" formControlName="maxPrice">
      </label>


       <span>Rating:</span>
      <label>
        Min rating:
        <select formControlName="minRating">
          <option value="0">All</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="4.5">4.5+</option>
        </select>
      </label>

       <span>Stores:</span>
      <label>
        Store:
        <select formControlName="source">
          <option value="">All</option>

          @for (source of sources; track $index) {
            <option value="{{ source }}">
              {{ source }}
            </option>
          }
        </select>
      </label>

       <span>Delivery:</span>
      <label class="delivery__option">
        <input type="checkbox" formControlName="freeDelivery">
        Free delivery
      </label>

      <label class="delivery__option">
        <input type="checkbox" formControlName="discounted">
        Only discounted
      </label>

      <div class="filters__buttons">
        <button type="button" class="button__submit" (click)="applyFilters()">Apply Filters</button>
        <button type="button" class="button__reset" (click)="resetFilters()">Reset</button>
      </div>
    </div>

     
  </div>

    <div class="products">

        @for (item of items; track $index) {
            <div class="products__product">
                <img src="{{ item.thumbnail }}" alt="">

                <div class="product__info">
                    <a href="{{ item.product_link }}" target="_blank" class="product__name">{{ item.title }} </a>
                    
                    <span>
                        <img src="{{ item.source_icon }}" alt="">
                    </span> <!-- espaço vazio p/ alinhar -->
                </div>

                <div class="product__bottom">
                    
                    <div>
                        <p class="source">{{ item.source }}</p>
                        @if(item.rating){
                            <div class="product__rating">
                                <i class="bi bi-star-fill"></i> {{ item.rating }} ({{ item.reviews | shortnumber}})
                            </div>
                        }
                    </div>
             
                    <div class="product__price">{{ item.price }}</div>
                </div>
            </div>
        }

    </div>  
</section>