:host{
    section{
        width: 60%;
        height: min-content;
        padding: 10px 60px;
        
        .container{
            width: 100%;
            height: min-content;
            background-color: #FFF;
            border-radius: 8px;
            padding: 20px;

            &__overview{
                font-size: calc(15px + 0.5vmin);
                margin-bottom: 10px;
                width: 100%;
                height: min-content;
                display: flex;
                
                &>p strong, i{
                    color: var(--secondary-color);
                }
            }
        }
    }

}