<section>
    <div class="container">
        <div class="container__overview">

           <p><i class="bi bi-stars"></i><strong> Insights: </strong>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo omnis reprehenderit repellat aliquam, rem quasi nulla, dicta laborum officia libero ea fuga aut modi velit fugiat minus natus enim! Tenetur cum placeat consequatur doloribus quisquam, magni ipsum natus temporibus, dolores vel id voluptatibus laudantium? Sed nihil dignissimos delectus doloremque, veniam, aut nobis possimus quo corporis beatae natus atque quidem eius, quis ullam! Voluptatibus beatae libero veniam provident itaque aut voluptate impedit assumenda. Obcaecati nam earum, voluptatum esse consectetur quibusdam enim placeat dolore, beatae asperiores quos itaque sint dolor tempore nesciunt, voluptatibus illo eaque neque aliquam quis porro aliquid iste qui.
            
            </p>
            <!-- IA insights -->
        </div>
        <div class="container__results">
            <!-- Results -->
        </div>
        <div class="container__search">
            <!-- People also serch for -->
        </div>
    </div>
</section>