:host{
    section{
        width: 70%;
        height: min-content;
        padding: 10px 60px;
        
        .container{
            width: 100%;
            height: min-content;
            background: var(--bg-color);            
            border-radius: 8px;
            padding: 20px;
            color: var(--text-color);
            box-shadow: 1px 0px 50px rgba(0,0,0,0.1);
            position: relative;
            z-index: 1;

            &__overview{
                position: relative;
                font-size: calc(12px + 0.5vmin);
                margin-bottom: 10px;
                width: 100%;
                height: min-content;
                display: flex;
                justify-content: center;
                
                &>div{
                    width: 90%;

                    &>p {
                        line-height: 22px;
                        
                        

                        strong, i{
                            color: var(--primary-color);
                        }
                    }
                }

                &.expanded{
                    flex-direction: column;     
                    
                    &>div{
                        width: 100%;
                        margin-bottom: 5px;
                    }    
                }

            

                &>button{
                    // position: absolute;
                    bottom: 0;
                    font-size: calc(10px + 0.5vmin);
                    align-self: end;
                    background-color: transparent;
                    border: none;
                    font-weight: bold;
                    padding: 0 5px;
                    color: var(--text-color);
                    transition: .3s;

                    &:hover{
                        cursor: pointer;
                        color: var(--secondary-color);
                    }
                }
            }


            .container__results{
                margin-top: 5vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
  
                .result{
                    display: flex;
                    padding: 20px 0;
                    border-radius: 8px;
                    color: var(--text-color);


                    .result__icon{
                        width: 5%;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        padding-right: 10px; 

                        img{
                            border-radius: 50%;
                        }
                    }

                    .result__info{ 
                        
                        a{
                            display: block;
                            text-decoration: none;
                            font-size: calc(14px + 0.5vmin);
                            font-weight: bold;
                            color: var(--primary-color);

                            &:hover{
                                color: var(--secondary-color);
                            }
                        }
                        
                        &>span{
                            font-size: calc(10px + 0.5vmin);
                            color: var(--text-color);
                            opacity: .8;
                            font-style: italic;
                        }

                        p{
                            margin-top: 2%;
                        }

                        .result__links{
                            margin-top: 2%;
                            display: flex;
                            gap: 10px;
                            
                        }
                    }

                    .result__image{
                        position: relative;
                        width: 10%;

                        img{
                            right: 0;
                            border-radius: 8px;
                            height: 100%;
                            max-height: 70px;
                            object-fit: cover;
                        }
                    }
                    
                }
            }

        }
    }

}

