<app-header (toggleModal)="toggleModal()" />
<main>

    @if(showModal){
      <app-modal (closeModal)="toggleModal()"/>
    }
      <section class="home">
        <div class="container one">
         
          <app-search />
        </div>
        <div class="container two">
          <div class="two__gif">
            <img [src]="gif" alt="">
          </div>
        </div>
      </section>

      <div class="bubble"></div>

        <!-- @if(currentComponent){
          <ng-container [ngComponentOutlet]="currentComponent"></ng-container>
        } -->
      
</main>
<app-footer />