
<app-header (toggleModal)="toggleModal()" />

<app-confirm />

<main>
    @if(showModal){
      <app-modal (closeModal)="toggleModal()"/>
    }
      <section class="home">
        <div class="container one">
          
          <app-search 
            (componentChange)="loadComponent($event)"
            (spinner)="toggleSpinner($event)"
          />

        </div>
        <div class="container two">
          <div class="two__gif">
            <img [src]="gif" alt="">
          </div>
        </div>
      </section>

      <div class="bubble"></div>

      <!-- <app-general /> -->

      @if(showSpinner){
        <app-spinner />
        
      }@else if (currentComponent) {
        <ng-container
          [ngComponentOutlet]="currentComponent"
          [ngComponentOutletInputs]="{ data: data }">
        </ng-container>
      }
</main>
<app-footer /> 