.badge{
    padding: 0.5rem 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 1px 50px rgba(0,0,0,0.12);
    font-size: calc(10px + .5vmin);
    z-index: 99;
    font-weight: 600;
    background-color: var(--off-white);
    color: var(--off-black);
    transition: .3s;

    i{
        color: var(--secondary-color);
    }

    &:active{
        transform: scale(0.8);
    }

    &--selected{
        background-color: var(--secondary-color);
        color: #FFF;
    }

    &--selected i{
        color: #FFF;
    }

    
}

.badge--small{
    padding: 0.3rem 0.6rem;
    font-size: calc(8px + .3vmin);
    border-radius: 8px;
}

.badge--outline{
    font-size: calc(8px + .5vmin);
    padding: 0.2rem .5rem;
    border-radius: 12px;
    font-weight: 500;
    background-color: transparent;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    cursor: pointer;

    &:hover{
        background-color: var(--primary-color);
        color: #FFF !important;
    }
}




