.btn{
    min-width: 90px;
    height: 100%;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-gray);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    transition: .5s;

    

    &.--disabled{
        background-color: #cfcfcf;
        color: var(--dark-grey);
        pointer-events: none;
    }

    &:hover{
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.btn-small{
    padding: 0 15px;
    height: 100%;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-gray);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    transition: .5s;

    &:hover{
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.btn-danger{
    background-color: rgb(211, 8, 8);
    color: #FFF;
}