:host{
    main{
        position: relative;
        width: 100%;
        height: 78vh;
        display: flex;
        background-color: transparent;
        
        .one{
            margin-top: 10vh;
            width: 60%;
            height: 100%;
            padding: 60px;
            color: var(--text-color);

            &__title{
                font-size: calc(40px + 2.5vmin);
                margin-bottom: 2vh;
            }
        }

        .two{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            
            img{
                pointer-events: none;
                margin-left: 20%;
                height: auto;
                width: 80%;
            }
        }

        .bubble{
            position: absolute;
            width: 420px;
            height: 315px;
            left: 20%;
            top: 70%;
            border-radius: 50%;

            background: var(--primary-color);
            filter: blur(95px);
            opacity: .7;
            z-index: -1;
        }
    }

    @media (max-width: 1200px) {
        .two{
            opacity: .5;
        }
    }

    @media (max-width: 800px) {
        main{
            flex-direction: column;
            align-items: center;
            background-color:t tomato !important;
            

            .one{
                margin-top: 0;
                width: 100%;
                padding: 25px;
                height: min-content;
                
                &__title{
                    font-size: calc(25px + 2.5vmin);
                    margin-bottom: 1vh;
                }
            }

            .two{
                display: none;
            }
            
            .bubble{
                width: 300px;
                height: 225px;
                left: 40%;
                top: 40%;
                transform: translateX(-50%);
            }
        }
    }
}