<form action="" method="get">
    <div class="search">
        <input class="search__input" type="text" name="" id="" placeholder="What are you looking for?">
        <button class="search__icon">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <div class="badges">
        <!-- <span class="badge badge--selected"> -->
        <span class="badge badge">
            <i class="bi bi-images"></i> Images
        </span>
        <span class="badge">
            <i class="bi bi-shop"></i> Shopping
        </span>
        <span class="badge">
            <i class="bi bi-newspaper"></i> News
        </span>
        <span class="badge">
            <i class="bi bi-folder2-open"></i> Jobs
        </span>
    </div>
</form>