// White
$off-white: #F9FAFB;
$light-gray: #F3F4F6;

// Black
$off-black: #111827;
$dark-gray: #374151;

// Support Colors;
$primary-blue: #078BFF;
$secondary-blue: #071C84; 


$primary-green: #0bbe5e;
$secondary-green: #0c8a47; 


$primary-purple: #7F07FF;
$secondary-purple: #560ca4; 




// The Browser can change in real time using CSS custom properties
:root{
    --off-white:   #{$off-white};
    --light-gray:  #{$light-gray};
    --off-black:   #{$off-black};
    --dark-grey:   #{$dark-gray};
}

[data-theme="light"]{
    --bg-color:   #{$off-white};
    --text-color: #{$off-black};
}


[data-theme="dark"]{
    --bg-color:   #{$off-black};
    --text-color: #{$off-white};
}

[data-color="blue"]{
    --primary-color:    #{$primary-blue};
    --secondary-color:  #{$secondary-blue};
}

[data-color="green"]{
    --primary-color:    #{$primary-green};
    --secondary-color:  #{$secondary-green};
}

[data-color="purple"]{
    --primary-color:    #{$primary-purple};
    --secondary-color:  #{$secondary-purple};
}
