<h1 class="one__title">One new way <br> to explore.</h1>

<form  action="" method="get">
    <div class="search">
        <input class="search__input" type="text" name="" id="" placeholder="What are you looking for?">
        <button class="search__icon">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <div class="badges">
        @for(badge of badges; track badge){
            <span 
                class="badge"
                [class.badge--selected]="badgeSelected == badge.value"
                (click)="setCategory(badge.value)"
                >
                <i [class]="badge.icon"> </i> {{ badge.label }} 
            </span>
        }
    </div>
</form>